@import "../../scss/variables";

::host {
  width: 100%;
  display: block;
}
.card-header {
  background: $brand-color;
  color: #fff;
}
.card-title {
  margin-bottom: 0;
}

iron-image {
  border-radius: 50%;
}
iron-image /deep/ img {
  border-radius: 50%;
}

iron-image /deep/ #placeholder {
  border-radius: 50%;
}

.list-group-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
}

.list-group-item:hover {
  cursor: pointer;
}

.list-group-item:focus {
  cursor: pointer;
}

.list-group-item a {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex: 1 0 auto;
}
.list-group-item a,
.list-group-item a:hover,
.list-group-item a:active,
.list-group-item a:focus {
  text-decoration: none;
  color: inherit;
}

.list-group-item iron-image {
  float: left;
  margin-right: 16px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.list-group-item--info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.list-group-item-heading {
  font-size: 1rem;
  line-height: 1;
}
.list-group-item-text {
  font-size: 0.75rem;
  line-height: 1;
}
