<div class="card-header">
  <h4 class="card-title">{{team.name}}</h4>
</div>
<div class="list-group list-group-flush">
  <div class="list-group-item list-group-item-action" *ngFor="let user of users" (click)="goToUser(user.id.value)">
    <iron-image src="{{user.picture.medium}}" sizing="cover" position="center" width="50" height="50"
      alt="user" preload="true" fade="true" placeholder="{{placeholder}}"></iron-image>
    <div class="list-group-item--info">
      <h5 class="list-group-item-heading">{{user.name.first}} {{user.name.last}}</h5>
      <p class="list-group-item-text">{{user.location.city}}, {{user.location.state}}, {{user.nat}}</p>
    </div>
  </div>
</div>
<div class="card-footer">
  <button type="button" class="btn btn-primary" (click)="goToTeam(team.id)">See report <i class="fa fa-pie-chart fa-lg pull-right"></i></button>
</div>
